# Dependencies
/node_modules

# Next.js and Vercel build output
/.next/
/out/
/build
.vercel
*.tsbuildinfo

# Local environment variables
.env
.env*.local

# Debug logs
*.log

# System files
.DS_Store
